*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: grid;
}

@font-face {
    font-family: 'MADE TOMMY';
    src: url(../../fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
  }

  @font-face {
    font-family: 'Champagne & Limousines';
    src: url(../../fonts/Champagne\ &\ Limousines.ttf);
  }

#imagenlogo {
    position: fixed;
    margin-left: 2%;
    margin-top: 3px;
    max-width: 15%;
    min-width: 10%;
}


#menusito {
    width: 1920px;
    height: 75px;
    background-color: beige;
    position: fixed;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
    background-color: beige;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(254, 154, 0);
    /*text-shadow: 2px 2px rgb(0, 0, 0);*/
    font-size: 1.2em;
    font-family: Josefin Sans;
    background-color: beige;
}

nav ul li:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#felicitacion {
    font-family: MADE TOMMY;
}

.textito {
    font-family: Josefin Sans;
}

